

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.displayBox{
    background-color: #000066;
    background: linear-gradient(#ffffff, #00eeff);
    color: #000055;
    margin: 0px;
    //border: 0px;
    padding: 20px;
}











